html {
	box-sizing: border-box;
	font-size: 16px;
}
 
 *, *:before, *:after {
	box-sizing: inherit;
}
 
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
 
ol, ul {
	list-style: none;
}
 
img {
	max-width: 100%;
	height: auto;
} 

body {
	font-family: 'Roboto', sans-serif;
	color: #000000;
}

header{
	position: fixed;
	background-color:#f6f8fc;
	width: 100%;
	padding: 10px 20px; 
}

.topbar-list{
	float: right;
	margin-top: -30px;
}

.topbar-link{
	text-decoration: none;
}

.sidebar{
	background-color: bisque;
	margin-top: 65px;
	position: fixed;
	height: 100vh;
	width: 8rem;
}

.sidebar-item{
	padding-left: 15px;
	line-height: 60px;
}

.sidebar-item a{
	text-decoration: none;
}

.sidebar-item i{
	padding-right: 5px;
	font-size: 24px;
}



